.dbug {
 border: 2px dashed red;
}
body {
  background-image: url(../img/connected.jpg);
}

.container {
  padding: 1em;
  max-width: 84%;
  margin: auto;
}
#mandalas .over {
position: absolute;
top: 10px;
left: calc(50% - 180px);
}
