<!DOCTYPE><head><meta charset="utf8"/>
<script>
let fq= 1000;
const f0=4.96
let n= Math.floor(fq/f0)
var fn=n*f0
console.log('fn: '+fn)
</script>
<style>
body {
 background-color: grey;
 background-size: 100vw 100%;
 background-repeat: no-repeat;
}
.container {
  background-color: lightcyan;
}
.container.main {
  background-image: linear-gradient(to top right, white,  white, cyan);
  opacity: 0.96;
  filter: grayscale(20%);
  /*
  */
}
.container img { max-width: 96%; }
div.first {
  position: sticky;
  background-color: rgba(20,10,30,0.82);
  top: 2px;
  overflow: auto;
}
.first .title {
  position: relative;
  width: calc(96% - 120px - 1rem);
  z-index: 1;
  float: right;
  padding: 1rem;
}
.first #logo {
 z-index: 3;
 float: left;
 display: block;
 overflow: hidden;
}
.first img {
  max-height: 120px !important;
  /* filter: invert(100%)
  */
}
img#mandala { border-radius: 50%; border: 1px solid red; }
.inverted {
  /*
 filter: grayscale(60%);
  */
 filter: invert(99%);
}

.subtitle { font-size: 0.5em; }
</style>
<link rel=stylesheet href="css/style.css"/>
</head>
<body>
<!-- header ------------------------------>
<div class="first container">
<div id=logo><img alt="mandala" src="img/radiance.jpg" id="mandala"></div>
<div class="title inverted">
<h1> This is the profile for <a href="{{page.home}}">{{page.member}}</a>
<br><small class=subtitle><i>a.k.a. <a href="{{page.aka-url}}">{{page.aka}}</a></i></small></h1>
</div>
</div><br>
<!---------------------------------------->

<div class="main container">
{{content}}
</div>
<script src="https://cdn.jsdelivr.net/gh/michel47/snippets@2a50f18/js/essential.js" type="text/javascript"></script>
<script src=js/mandala.js></script>
<script src=js/effect.js></script>
<small class=inverted style="float:right">mandalas: credit <a href=https://qwant.com/?q=Endrer+Balogh>Endre Balogh</a></small><br clear="all"/>
<hr>
<a href=https://www.jsdelivr.com/package/gh/michel47/snippets>
<img id="jsdbadge" src="https://data.jsdelivr.com/v1/package/gh/michel47/snippets/badge/week">
</a>

</body>
